<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
   </extension>
   
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="io.jenkins.x.eclipse.plugin.JenkinsConsole"
            label="Jenkins Console">
      </consoleFactory>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="io.jenkins.x.eclipse.plugin.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jx-eclipse-plugin"
            name="Jenkins-X">
      </category>
      <view
            category="jx-eclipse-plugin"
            class="io.jenkins.x.eclipse.plugin.view.JenkinsView"
            icon="icons/jx-logo-16.png"
            id="io.jenkins.x.eclipse.plugin.view.JenkinsView"
            inject="true"
            name="Jenkins-X">
      </view>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="io.jenkins.x.eclipse.plugin.view.JenkinsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   -->
   
   <!-- menu -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="jx-eclipse-plugin.menus.jenkins-x"
               label="Jenkins-X"
               mnemonic="J">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:jx-eclipse-plugin.menus.jenkins-x?after=additions">
            <command
                  commandId="jx-eclipse-plugin.commands.jenkins"
                  id="jx-eclipse-plugin.menus.jenkins"
                  label="Jenkins"
                  mnemonic="J">
            </command>
            <command
                  commandId="jx-eclipse-plugin.commands.monocular"
                  id="jx-eclipse-plugin.menus.monocular"
                  label="Monocular"
                  mnemonic="M">
            </command>
            <command
                  commandId="jx-eclipse-plugin.commands.nexus"
                  id="jx-eclipse-plugin.menus.nexus"
                  label="Nexus"
                  mnemonic="N">
            </command>
      </menuContribution>
      <!--
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="jx-eclipse-plugin.toolbars.jenkinsx.Toolbar">
            <command
                  commandId="jx-eclipse-plugin.commands.jenkins"
                  icon="icons/sample.png"
                  id="jx-eclipse-plugin.toolbars.jenkins"
                  tooltip="Open Jenkins">
            </command>
         </toolbar>
      </menuContribution>
      -->
   </extension>
   <!-- menu end -->
   
   <!-- command -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jx-eclipse-plugin.commands.category"
            name="Jenkins-X">
      </category>
      <command
            categoryId="jx-eclipse-plugin.commands.category"
            id="jx-eclipse-plugin.commands.jenkins"
            name="Jenkins">
      </command>
      <command
            categoryId="jx-eclipse-plugin.commands.category"
            id="jx-eclipse-plugin.commands.nexus"
            name="Nexus">
      </command>
      <command
            categoryId="jx-eclipse-plugin.commands.category"
            id="jx-eclipse-plugin.commands.monocular"
            name="Monocular">
      </command>
   </extension>
   <!-- command end -->
   
   <!--handler -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.jenkins.x.eclipse.plugin.handler.JenkinsHandler"
            commandId="jx-eclipse-plugin.commands.jenkins">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.jenkins.x.eclipse.plugin.handler.NexusHandler"
            commandId="jx-eclipse-plugin.commands.nexus">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.jenkins.x.eclipse.plugin.handler.MonocularHandler"
            commandId="jx-eclipse-plugin.commands.monocular">
      </handler>
   </extension>
   <!-- handler end -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jx-eclipse-plugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>

</plugin>
